.titulo-nombre{
    color: white;
    font-family:"Agit Prop" ;
    font-size: 7vw;
}

.description{
  font-size: 4vw;
}
  
body {
  background-color: #545454;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  min-height: 100vh
  }

.buttons-center{
  padding-left: 1vw ;
}