<body class="body-me">
      
    <div class="container">

        <app-descripcion [title]="title" [texto]="text"></app-descripcion>
        
        <!--Buttons
        <div class="text-center justify-content-center " >                   
            <app-button 
                [boton]="{id:1,text:'CV',link:''}">
            </app-button>
            <app-button class="buttons-center"
                [boton]="{id:2,text:'Contacto',link:''}">
            </app-button>
        </div>-->

        <!--Space-->
        <div class="row">
            <div class="col-md-12">
                <p> </p>
            </div>
        </div>

        <!--Cards-->
        <div class="container">
        <app-cards-group 
                [file]="file" 
                ></app-cards-group>
        </div>
    </div>
</body>
