


<nav class="navbar navbar-dark bg-dark navbar-expand-md no-space-padding text-center">
    <div class="container-fluid ">    
        <button class="navbar-toggler no-space-padding" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <app-logo></app-logo>
            <div class="navbar-collapse collapse justify-content-end " id="navbar">
                <app-button
                *ngFor="let boton of botones"
                [boton]="boton"
                >
                </app-button>
            </div>
        </div>
</nav>
