<div class="padre">
    <form class="form" action="https://formspree.io/f/xjvdbavy" method="POST" >  
        <div class="form__container">
         
            <h2 class="form__title">Contactame</h2>
         
            <input type="text" name="Asunto" id="asunto" formControlName="asunto" class="form__input" placeholder="Nombre:">
         
            <input type="email" name="email" id="email" formControlName="email" class="form__input" placeholder="Email:" >
         
            <textarea  name="message" class="form__input form__input--message" placeholder="Mensaje:"></textarea>
         
            <input type="submit" value="Enviar" class="form__cta">
         
            <input type="hidden" name="_next" value="http://localhost:4200/contacto">
        
        </div>
    </form>
</div>
